.my-button {
  color: white;
  cursor: pointer;
  margin: 1px;
  padding: 5px 12px;
  border-radius: 8px;
  border: none;
}

.btn-primary {
  background-color: rgb(115, 115, 253);
}

.btn-danger {
  background-color: rgb(253, 70, 70);
}

.btn-primary:hover {
  background-color: rgb(184, 184, 255);
}

.btn-danger:hover {
  background-color: rgb(255, 145, 145);
}
